*
	margin 0
	padding 0 
	box-sizing border-box
	
a
	text-decoration none
	color black
	
img
	max-width 100%

li
	list-style-type none
	
button
	border none
	outline none
	cursor pointer	

body
	//margin 0 auto
	//max-width 1400px
	font-family 'Open Sans', sans-serif
	font-size 15px
	color #212121
	
.wrapper
	margin 0 auto
	padding 0 25px
	max-width 1220px
	
.section-header
	margin-bottom 110px

.secondary-header
	font-size 30px
	text-align center
	font-weight 700
	
.secondary-subtitle
	margin 0 auto
	max-width 650px
	line-height 22px
	text-align center

.secondary-header + *
	padding-top 30px