.menu-open
	position fixed
	top 15px
	left 15px
	display none
	width 50px
	height 50px
	background-color transparent
	cursor pointer
	text-decoration none
	z-index 999

.menu-open > span
	position absolute
	left 50%
	top 50%
	display block
	margin-left -20px
	margin-top -1px
	height 3px
	width 40px
	border-radius 30%
	background-color #222
	
.menu-open > span:first-child
	margin-top -8px
	transition all 0.2s
	
.menu-open > span:last-child
	margin-top 6px
	transition all 0.2s

.menu-open--active > span:nth-child(2)
	background-color transparent
	
.menu-open--active > span:first-child
	margin-top 0
	transform rotate(135deg)

.menu-open--active > span:last-child
	margin-top 0
	transform rotate(-135deg)

.main-header
	position fixed
	z-index 999
	width 100%
	max-width 1400px
	min-height 120px
	background-color white

.header-container
	display flex
	justify-content space-between
	align-items center

.logo
	font-family 'Open Sans', sans-serif
	font-size 25px
	font-weight 700

.main-menu
	display flex
	align-items center
	font-family 'Open Sans', sans-serif
	font-size 20px
	line-height 22px
	font-weight 600
	
	&__item
		display flex
		align-items center
		min-height 120px

	&__link:hover
		color #00897b
		transition all 0.3s

	&__item + .main-menu__item
		margin-left 40px

.main-nav
	display flex
	align-items center

.search-link
	display block
	width 19px
	height 19px