@media screen and (max-width: 1200px)

  .slick-initialized .slick-slide
    display flex
    justify-content center
      
@media screen and (max-width: 1023px)

  //-------------------------header----------------------
    
  .main-header
    min-height 80px

  .menu-open
    display block
    
  .open-nav
    position fixed
    left -100vw
    align-items flex-start
    margin-top 80px
    transition all 0.3s

    &--active
      transform translateX(100vw)
    
  .main-menu
    flex-direction column
    min-width 50vw
    background-color #DCDCDC
    
    &__item
      width 100%
      min-height 60px
      transition all 0.3s
    
    &__item + &__item
      margin-left 0
      
    &__item:hover
      background-color #99CCCC
      
    &__link
      display flex
      justify-content center
      align-items center
      width 100%
      min-height 60px
    
  .main-nav
    width 100%
    max-width 100%

  .header-container
    flex-direction column
    
  .logo
    position fixed
    top 25px
    right 25px
    
  //----------------------main-caption------------------
    
  .main-caption--indent
    padding-top 80px

  .main-caption__header
      font-size 50px
    
  //----------------------about-------------------------
      
  .about-info
    flex-wrap wrap
    justify-content space-around
    
    &__item
      margin-bottom 30px
      
@media screen and (max-width: 767px)

  //----------------------header------------------
  .main-caption__header
    margin-top 100px
  
  .all-button
    padding 10px
    font-size 15px
    
  //----------------------blog------------------
  .post
    flex-direction column
    align-items center
    
    &__img
      max-width 570px
      width 100%
      
    &__desc
      padding 20px
      max-width 570px
      width 100%
      
    &--order &__desc 
      order 1
      
  .post + .button-container
    margin-top 30px
  
  //----------------------contacts------------------
    
  .contact-block__icon
    width 80px
    height 80px

  .contact-block__icon img
    width 50%
        
  .contact-block
    min-height 230px

  .feedback__login
    margin-bottom 20px
    width 100%
    
  .feedback__entry
    padding 15px 10px
    
  .feedback__btn
    width 170px
    height 60px


    
@media screen and (max-width: 479px)

  .sections-indent
    padding 80px 0
  
  .section-header
    margin-bottom 80px

  .main-menu
    width 100vw
    
  .button-more
    width 150px
    min-height 50px
    font-size 17px
    
  .main-caption
    min-height 740px  

    &__header
      margin-top 50px
      font-size 40px
    
    &__subtitle
      font-size 18px
   
  .wrapper
    padding 0 7px
    
  .main-caption--indent
    padding-top 80px

  .services-list__link
    margin 20px auto 0
    width 90%
    
  .all-button
    padding 5px
  
  .all-button + .all-button
    margin-left 10px 
  
  .works-list__img
    width 300px
    height 270px
    
  .works-list__item
    margin 0 0 20px 0
  
  .team-list__img
    width 306px
    height 256px
    
  .team-list__img img 
    width 100%
    height 100%
    
  .post__desc
    padding 15px

  .post-info__icon
    margin-right 10px

  .post-info__item + .post-info__item
    margin-left 20px
    
  .feedback__entry
    padding 7px 5px
    font-size 15px
    
  .feedback__message
    min-height 200px
    
  .feedback__btn
    height 50px
        
  .copyright
    font-size 15px