header.main-header
	.wrapper.header-container
		.logo
			a.logo__link(href='#') Your Logo
		nav.main-nav
			ul.main-menu
				li.main-menu__item
					a.main-menu__link(href='#scroll-home') Home
				li.main-menu__item
					a.main-menu__link(href='#scroll-about') About
				li.main-menu__item
					a.main-menu__link(href='#scroll-servicing') Servicing
				li.main-menu__item
					a.main-menu__link(href='#scroll-portfolio') Portfolio
				li.main-menu__item
					a.main-menu__link(href='#scroll-blog') Blog
				li.main-menu__item
					a.main-menu__link(href='#scroll-contact') Contact us
				li.main-menu__item
					a.main-menu__link(href='#')
						img.search-link(src='img/search.png' alt='alt')